@model IEnumerable<Event>
@{
    ViewBag.Title = "Event List";
}

<div class="card-deck">
    @foreach (var anEvent in Model)
    {
        <div class="card m-3">
            <h3>@anEvent.EventName</h3>
        </div>
        <img asp-append-version="true" asp-actions="card-img-top" src="~/images/events.png" />
        <div class="card-footer text-center">
            <a asp-controller="home" asp-action="details" asp-route-id="@anEvent.ID" class="btn btn-primary">View</a>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary">Delete</a>
        </div>
    }
</div>
