@using Summitworks_EventManager.Models
@model IEnumerable<Event>
@{
    ViewBag.Title = "Event List";
}
<div class="card-deck">
    @foreach (var anEvent in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@anEvent.EventName</h3>
                
            </div>
            
            <div class="card-body text-center">
                <img asp-append-version="true" class="card-img-top" src="~/images/events.png" />
                <h4>Location : @anEvent.City</h4>
                <h4>Category : @anEvent.EventCategory</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@anEvent.ID" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>
