
@model IEnumerable<Summitworks_EventManager.Models.Event>
@{
    ViewBag.Title = "Event List";
}
<!-- Section: Sidebar -->
<!--<section>-->

    <!-- Section: Filters -->
    <!--<section>-->

        
        <!-- Section: Price -->
        <!--<section class="mb-4">

            <h6 class="font-weight-bold mb-3">Price</h6>

            <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="under25" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="under25">Under $25</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="2550" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="2550">$25 to $50</label>
            </div>
                    
        </section>
                
    </section>-->
    <!-- Section: Filters -->

<!--</section>-->
<!-- Section: Sidebar -->
<div class="card-deck">
    @foreach (var anEvent in Model)
    {
        <div class="card m-3" style="width: 18rem">
            <div class="card-header">
                <h3>@anEvent.EventName</h3>
            </div>


            <img class="card-img-top rounded" style="border: solid thin" src="~/images/events.png" />
            <div class="card-body text-center">
                <h4>Category : @anEvent.EventCategory</h4>
                <h4>Location : @anEvent.City</h4>

            </div>
            <div class="card-footer text-center">

                <a asp-controller="home" asp-action="details" asp-route-id="@anEvent.ID" class="btn btn-primary m-1">View</a>


                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>
